@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&display=swap");
/*{
    background-image: linear-gradient(#797878 1px, transparent 25% 1px), linear-gradient(90deg, #797878 1px, transparent 25% 1px);
    background-size: 25px 25px;
    background-color: #232323;
    filter: blur(1px);
}*/
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Pixelify Sans";
  color: aliceblue;
  background-color: #000000;
  text-shadow: 2px 2px 2px rgba(96, 83, 161, 0.8);
}
.bg {
  opacity: 70%;
  z-index: -1;
  height: auto;
  width: 100%;
  position: absolute;
  filter: blur(3px) saturate(200%) opacity(50%);
}
.pix img {
  display: block;
  position: fixed;
  width: 60px;
  height: 50px;
  bottom: 20px;
  right: 15px;
}
.hide {
  display: none;
}
.pix:hover + .hide {
  display: block;
  position: fixed;
  bottom: 25px;
  right: 60px;
  padding: 20px;
  color: aliceblue;
  font-size: 16px;
  font-family: "Pixelify Sans";
  padding: 10px;
  z-index: 2;
}

#closeButton1,
#closeButton2,
#closeButton3 {
  cursor: pointer;
  position: absolute;
  font-size: 30px;
  top: 0;
  right: 0;
  border: none;
  padding: 0.5em;
}

.fadeOut {
  opacity: 0;
  animation: fadeOut 10s ease-in-out;
}

.glass-card {
  backdrop-filter: blur(8px) saturate(200%);
  -webkit-backdrop-filter: blur(15px) saturate(200%);
  background-color: rgba(50, 56, 66, 0.47);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: inset rgba(140, 151, 192, 0.48) 2px 2px 3px,
    rgba(96, 86, 86, 0.8) 2px 2px 3px;
  animation: fadeIn 1.5s ease-in-out;
}
nav {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
nav .glass-card {
  padding: 1rem;
  color: #ececec;
  text-decoration: none;
  margin: 1.2em;
  border-radius: 20px;
  box-shadow: inset rgba(140, 151, 192, 0.48) 2px 2px 3px,
    rgba(96, 86, 86, 0.8) 2px 2px 3px;
  cursor: pointer;
}
a .glass-card:active,
nav .glass-card:active {
  translate: 0 0.325em;
  transform: scale(0.9);
  box-shadow: inset rgba(15, 15, 17, 0.48) 2px 2px 10px,
    rgba(96, 83, 161, 0.8) 3px 3px 10px 2px;
}
main .glass-card {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
}
#Section1 {
  width: 17rem;
  height: 17rem;
  padding: 3rem;
}

.skills {
  width: 22rem;
  height: 22rem;
  padding: 0.2rem;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  display: none;
  backdrop-filter: blur(7px) saturate(200%);
}
.skills img {
  padding: 0.5rem;
  height: 25rem;
}
.skills h3 {
  margin-bottom: 0.5rem;
}
.contact {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin: 2vw;
}
.contact .glass-card {
  margin: 1em;
  padding: 0.6rem;
  width: 2rem;
  background-color: rgba(135, 151, 182, 0.5);
  cursor: pointer;
}
#Section3 {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
  height: 8rem;
  padding: 3rem;
  background-color: rgba(120, 139, 163, 0.4);
}

footer {
  position: fixed;
  bottom: 0;
  margin: 2% auto;
  padding: 1em;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}
